body{
  font-family: 'Nunito', sans-serif;
  padding: 50px;
}

.card .btn {
    z-index: 3;
}
.card{
  position:relative;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  z-index:1;
}

.card h3{
  font-weight: 600;
}

.card-img{
   width: 100%!important;
   height: 250px!important;
   object-fit: cover;
}

div.ex2 {
  max-width: 400px;
  margin: auto;
  border: 3px solid #fff;
}

body {
    padding-top: 60px;
  }
  @media (max-width: 980px) {
body {
      padding-top: 0;
    }
  }



@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 